div{
	border: 1px solid black;
	width: 60%;
	height: 200px;
	position: static;
	top: 50px;
}
p{
	-webkit-margin-before: 0;
	-webkit-margin-after: 0;
	-webkit-margin-start: 0;
	-webkit-margin-end: 0;
}
.pclass{
	border: 1px solid green;
	position: relative;
	top: 80%;
}
.pClassRelative{
	border: 1px solid green;
	/*position: absolute;*/
	/*top: 0%;*/
}
p:hover > highlight{ 
  color:green;
}