header{
	background-color: #C0C0C0;
	
}
h1{
	color: #FFFFFF;
	text-align: center;
	text-transform: uppercase;
}
h2{
	color: #00008B;
}
a{
	color: #000000;
	background-color: #D3D3D3;
}
section{
	background-color: #A9A9A9;
}
img{
	display: none;
}
